# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Arquivos temporários
*.log

# Configurações do VS Code
.vscode/

# Configurações do PyCharm
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db